$main-background: #47494E;
$menu-background: #D0D0D2;
$string-color: rgb(216, 216, 216);
$black-background: #323233;

$breakpoints: (
  'xs': 'screen and (min-width: 350px)',
  'sm': 'screen and (min-width: 450px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}